@model ML.Repartidor
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAll</h2>
<a class="btn btn-success" href=@Url.Action("Form","Repartidor" , new {IdRepartidor = 0})>Agregar nuevo Repartidor</a>

@if (Model.Repartidores != null)
{


<div class="row">
        <div class="col-md-12">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Editar</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Unidad Asignada</th>
                        <th>Telefono</th>
                        <th>Fotografia</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody class="table-primary">
                    @foreach(ML.Repartidor repartidor in Model.Repartidores){
                        <tr>
                            <td>
                                <a href="@Url.Action("Form","Repartidor",new {IdRepartidor = repartidor.IdRepartidor})">
                                    <i class="fa-solid fa-user-pen"></i>
                                </a>
                            </td>
                            <td>@repartidor.Nombre</td>
                            <td>@repartidor.ApellidoPaterno</td>
                            <td>@repartidor.UnidadEntrega.NumeroPlaca</td>
                            <td>@repartidor.Telefono</td>

                            <td>
                                @if (repartidor.Fotografia == "" || repartidor.Fotografia == null)
                                {

                                    <img src="https://www.computerhope.com/jargon/g/guest-user.png" width="50" height="50" />
                                }
                                else
                                {
                                    <img src="data:image/*;base64,@repartidor.Fotografia" width="50" height="50" />
                                }
                            </td>
                            

                            <td>
                                <a href="@Url.Action("Delete","Repartidor",new {IdRepartidor = repartidor.IdRepartidor})">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="row align-items-start">
        <div class="col">
            NO HAY Repartidores
        </div>
    </div>
}